.loader {
    position: relative;
    margin: 300px auto;
    width: 100px;
    height: 100px;
}

.hidden{
    display: none;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #4d0000 inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }
    
    100% {
        transform: rotate(360deg)
    }
}

.cat-img {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;

    width: 700px;
    height: 500px;
}
.cat-desc {
width: 1000px;
}

.cat-container{
    display: flex;
    
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.error{
    font-size: large;
    color: #b30000;
    margin: 500px;
}